.BurgerControl {
    width : 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    flex-flow: column;
    box-shadow: 0 2px 1px white;
    margin: auto;
    padding: 10px 0;
}
